/VibePlatform/obj/Debug/net8.0/Avalonia/references
/VibePlatform/obj/Debug/net8.0/Avalonia/resources
/VibePlatform/obj/Debug/net8.0/Avalonia/Resources.Inputs.cache
/VibePlatform/obj/Debug/net8.0/Avalonia/VibePlatform.dll
/VibePlatform/obj/Debug/net8.0/Avalonia/VibePlatform.pdb
/VibePlatform/obj/Debug/net8.0/ref/VibePlatform.dll
/VibePlatform/obj/Debug/net8.0/refint/Avalonia/VibePlatform.dll
/VibePlatform/obj/Debug/net8.0/refint/VibePlatform.dll
/VibePlatform/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/VibePlatform/obj/Debug/net8.0/apphost
/VibePlatform/obj/Debug/net8.0/VibePlatform.AssemblyInfo.cs
/VibePlatform/obj/Debug/net8.0/VibePlatform.AssemblyInfoInputs.cache
/VibePlatform/obj/Debug/net8.0/VibePlatform.assets.cache
/VibePlatform/obj/Debug/net8.0/VibePlatform.csproj.AssemblyReference.cache
/VibePlatform/obj/Debug/net8.0/VibePlatform.csproj.CopyComplete
/VibePlatform/obj/Debug/net8.0/VibePlatform.csproj.CoreCompileInputs.cache
/VibePlatform/obj/Debug/net8.0/VibePlatform.csproj.FileListAbsolute.txt
/VibePlatform/obj/Debug/net8.0/VibePlatform.dll
/VibePlatform/obj/Debug/net8.0/VibePlatform.GeneratedMSBuildEditorConfig.editorconfig
/VibePlatform/obj/Debug/net8.0/VibePlatform.genruntimeconfig.cache
/VibePlatform/obj/Debug/net8.0/VibePlatform.pdb
/VibePlatform/obj/project.assets.json
/VibePlatform/obj/project.nuget.cache
/VibePlatform/obj/project.packagespec.json
/VibePlatform/obj/rider.project.model.nuget.info
/VibePlatform/obj/rider.project.restore.info
/VibePlatform/obj/VibePlatform.csproj.nuget.dgspec.json
/VibePlatform/obj/VibePlatform.csproj.nuget.g.props
/VibePlatform/obj/VibePlatform.csproj.nuget.g.targets
